<o-form-layout-manager title="{{'USERS' | oTranslate }}" separator=" " mode="tab" label-columns="name;surname">
  <div fxFill class="list-container">
    <o-list #list keys="id" columns="user_;password;name;surname;email;nif;lastpasswordupdate" attr="tableUsers"
      service="users" entity="user" keys="user_" title="{{'USERS' | oTranslate }}" quick-filter="true"
      quick-filter-columns="name;username;email" refresh-button="true" insert-button="true" delete-button="true"
      selectable="true" dense="false" detail-button-in-row="true" detail-button-in-row-icon="chevron_right"
      edit-button-in-row="false" edit-button-in-row-icon="edit" detail-mode="none" pagination-controls="true"
      page-size-options="5;10" insert-button-position="bottom" show-buttons-text="false">

      <o-list-item *ngFor="let row of list.dataArray">
        <o-list-item-text #item title="{{ row.username }}" primary-text="{{ row.name }}"
          secondary-text="{{ row.email }}">
        </o-list-item-text>
      </o-list-item>

    </o-list>
  </div>
</o-form-layout-manager>
