/* .form-container{
    border: 1px solid #211915;
    border-radius: 10px;
    background: white;
    padding: 10px;
    box-shadow: 5px 10px 8px #cccccc;
    text-align: center;
} */

.formProduct{
    border: 1px solid #211915;
    border-radius: 10px;
    background: white;
    padding: 10px;
    box-shadow: 5px 10px 8px #cccccc;
    text-align: center;
}

.formProduct form{
    width: 100%;
}