.form-container{
    border: 1px solid #211915;
    border-radius: 10px;
    background: #211915;
    padding: 10px;
    box-shadow: 5px 10px 8px #cccccc;
    text-align: center;
}

.breadcrumbs{
    width: 100%;
    text-align: left;
    color: whitesmoke;
    background: #211915;
}

.breadcrumb{
    padding: 5px;
}