


<o-form #formproducts service="products" entity="product" keys="id" header-actions="" show-header-navigation="no" keys-sql-types="INTEGER" class="form-container" editable-detail="no">
  <div class="titleDiv"><h1 class="titleText">{{'DOCUMENTS' | oTranslate }}</h1></div>
  <div>
  <div class="center">
    <o-text-input class="input-padding" attr="name" fxFlex="100"></o-text-input>
  </div>



     <o-table #filetable attr="productsFilesTable" class="fileTable" service="products" entity="file" keys="id" parent-keys="product_id:id"
    columns="id;name" visible-columns="name;action" controls="true" delete-button="false" insert-button="false" refresh-button="false" show-buttons-text="false" select-all-checkbox="true">
    <o-table-column attr="action" width="64px">
      <o-table-cell-renderer-action (onClick)="actionClick($event)" icon="download"></o-table-cell-renderer-action>
    </o-table-column>
    </o-table>
</div>
</o-form>