<o-form label-header="{{'DOCUMENTACION' | oTranslate }}" separator=" " mode="tab" label-columns="name" class="form-container" (onMainTabSelected)="refreshTable($event)" editable-detail="no" class="form-container">
 
    <o-list *ngIf="!isAdmin" #listDocuments columns="name"  service="personalDocuments"
    entity="personalDocument" keys="id" title="{{'DOCUMENTS' | oTranslate }}" detail-button-in-row="false"
    detail-mode="none" delete-button="no" refresh-button="no">
   
    <mat-card *ngFor="let row of listDocuments.dataArray" [o-list-item]="row" class="custom-card" (click)="onAction1(row.id)" class="showMore">
      <mat-card-header>
        <div mat-card-avatar>
          <img src="assets/images/archive.png" fxFill />
        </div>
        <mat-card-title>{{ row.name }}</mat-card-title>
      </mat-card-header>
   
    </mat-card>
   
  </o-list>