.full {
  background-color: whitesmoke;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.full-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgLogin{
  width: 70%;
}

.wrapp-login {
  border: 1px solid #211915;
  border-radius: 10px;
  box-shadow: 5px 10px 8px #cccccc;
  width: 90%;
}

.login-inner-container form.login{
  width: 70%;
}

.session-expired {
  text-align: center;
}

.dark_text {
  color: #c5c5c5;
  font-size: 9pt;
}

.login_info,
.title_text {
  font-size: 14px;
}

.title_text {
  font-weight: 600;
}

.text {
  font-size: 12px;
  font-weight: normal;
}

.footer-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 2;
}

.footer-container div {
  height: 40px;
  padding: 10px;
}

.footer-container span {
  font-size: 11px;
}

@media(max-width: 576px) {
  .full-page .login-outer-container .wrapp-login {
    width: 100%;
    min-height: 100%;
  }

  .full-page .login-outer-container .wrapp-login .login-inner-container form {
    min-width: auto;
    min-height: auto;
  }

  .footer-container div {
    margin: 0 auto;
  }

  img#logoImg {
    width: 50%;
  }
}

button.m-top-24 {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
    height: 42px;
    font-size: 16px;
    color: white;
}

button.m-top-24:hover {
  background: #e4333c;
}

.titleLogin{
  margin-top: -40px;
  color: #211915;
}

