.showMore{
  border: 1px solid #d3d3d3;
  background: white;
  cursor: pointer;
}

.showMore:hover{
  color: whitesmoke;
  background-color: #d3d3d3;
  border: 1px solid #d3d3d3;
  transition: 0.5s;
}

.userTable{
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  background: white;
  padding: 20px;
  text-align: left;
}

.icon{
  padding: 5px;
}

.background{
  background: whitesmoke;
  border-radius: 10px;
  padding: 10px;
}