.showMore{
  color: #211915;
  border: 1px solid #211915;
  background: white;
  padding: 10px;
  float: right;
}

.showMore:hover{
  color: whitesmoke;
  background-color: #211915;
  border: 1px solid #211915;
  transition: 0.5s;
}

.custom-card {
  display: flex;
  flex-direction: column;
}

.showMore-container {
  margin-left: auto;
  margin-top: auto;
}

mat-card{
  border: 1px solid #211915;
}


