.showMore-container {
  margin-left: auto;
  margin-top: auto;
}

.showMore{
  border: 1px solid #211915;
  color: #211915;
  border: 1px solid #211915;
  background: white;
  cursor: pointer;
}

.showMore:hover{
  color: whitesmoke;
  background-color: #211915;
  border: 1px solid #211915;
  transition: 0.5s;
}

.userTable{
  border: 1px solid #211915;
  border-radius: 10px;
  background: white;
  padding: 20px;
  text-align: center;
}

.icon{
  padding: 5px;
}

.showMore:hover .icon{
  background: whitesmoke;
  border-radius: 5px;
}

.background{
  background: whitesmoke;
  border-radius: 10px;
  padding: 10px;
}