div {
  width: 400px;
}

o-row{
  border-bottom: 0;
  margin-bottom: 3px;
}

.center {
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.form-row {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.field-separator {
flex-basis: 10px; /* Ajusta el tamaño del espacio según tus necesidades */
}



