.center {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #211915;
  border-radius: 10px;
  background: white;
  padding: 20px;
  box-shadow: 5px 10px 8px #cccccc;
  text-align: center;
  margin-top: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

.form-row {
    display: flex;
    flex-direction: column;
}


  