div {
    width: 400px;
  }

o-row{
    border-bottom: 0;
    margin-bottom: 3px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
  }

.form-row {
    display: flex;
    flex-direction: column;
}

  