<o-form #form service="users" entity="user" keys="user_" header-actions="U;D" show-header-actions-text="no" show-header-navigation="no" class="form-container">
  <div class="titleDiv"><h1 class="titleText">Editar</h1></div>
  <div class="center">

      <o-row class="form-row">
        <o-text-input class="input-padding" attr="user_" fxFlex="100" enabled="yes"></o-text-input>
      </o-row>

      <o-row class="form-row">
        <o-text-input class="input-padding" attr="name" fxFlex="100" required="yes"></o-text-input>
      </o-row>

      <o-row class="form-row">
        <o-text-input class="input-padding" attr="surname" fxFlex="100" required="yes"></o-text-input>
      </o-row>

      <o-row class="form-row">
        <o-email-input attr="email" fxFlex="100"></o-email-input>
      </o-row>

      <o-row class="form-row">
        <o-nif-input attr="nif"  class="input-padding" fxFlex="100" required="yes"></o-nif-input>
      </o-row>

      <o-row class="form-row">
        <o-password-input class="input-padding" attr="password" fxFlex="100" required="yes" label="Contraseña" show-password-button="yes" [validators]="validatorsArray"></o-password-input>
      </o-row>
      
      <o-row class="form-row">
        <o-password-input class="input-padding" attr="passwordConfirm" fxFlex="100" required="yes" label="Confirmar contraseña" show-password-button="yes">
          <o-validator [error-name]="'passwordNotMatched'" [error-text]="'Las contraseñas no coinciden'"></o-validator>
          <o-validator [error-name]="'passwordNotSize'" [error-text]="'La contraseña debe tener al menos 6 dígitos, 1 número y un símbolo'"></o-validator>
        </o-password-input>
      </o-row>
      
</div>
</o-form>
