<o-form service="users" entity="user" keys="user_" header-actions="R;I;U;D" show-header-navigation="no" class="form-container">
  <h1>Editar</h1>
  <div>

  <o-row>
    <o-column>
      <o-row>
        <o-text-input attr="user_" enabled="yes"></o-text-input>
      </o-row>
      <o-row>
        <o-text-input class="input-padding" attr="name" fxFlex="40" required="yes"></o-text-input>
        <o-text-input class="input-padding" attr="surname" fxFlex="40" required="yes"></o-text-input>
      </o-row>
      <o-row>
        <o-email-input attr="email" fxFlex></o-email-input>
      </o-row>
      <o-row>
        <o-nif-input attr="nif" class="input-padding" fxFlex="40" required="yes"></o-nif-input>
      </o-row>
      <o-row>
        <o-text-input attr="password" type="password"  enabled="yes"></o-text-input>
        <o-text-input attr="password-confirm" type="password" placeholder="Confirmar contraseña"  enabled="yes"></o-text-input>
        <o-validator [validator-function]="passwordValidator">
          <o-error name="passwordRequirements" text="La contraseña debe tener al menos 1 número, 6 letras y 1 símbolo"></o-error>
          <o-error name="passwordMatch" text="Las contraseñas no coinciden"></o-error>
        </o-validator>
      </o-row>
    </o-column>
  </o-row>
</div>
</o-form>