<o-form service="users" entity="user" keys="user_" header-actions="R;I;U;D" show-header-navigation="no" class="form-container">
  <h1>Alta usuario</h1>
  <div>

    <o-row class="justify-content-center">

      <o-column title-label="CUSTOMER_PERSONAL_INFORMATION" fxFlex>

        <div class="form-row">
          <o-text-input class="input-padding" attr="name" fxFlex="100" required="yes" label="Nombre"></o-text-input>
        </div>

        <div class="form-row">
          <o-text-input class="input-padding" attr="surname" fxFlex="100" required="yes" label="Apellido"></o-text-input>
        </div>

        <div class="form-row">
          <o-text-input attr="user_" fxFlex="100" required="yes" label="Nombre de usuario"></o-text-input>
        </div>

        <div class="form-row">
          <o-email-input attr="email" fxFlex="100" required="yes" label="Email"></o-email-input>
        </div>

        <div class="form-row">
          <o-text-input attr="password" type="password" fxFlex="100" required="yes" label="Contraseña"></o-text-input>
        </div>

        <div class="form-row">
          <o-text-input attr="password-confirm" type="password" fxFlex="100" required="yes" label="Confirmar contraseña"></o-text-input>
        </div>

        <div class="form-row">
          <o-combo attr="rol" label="Rol" [static-data]="rolesArray" value-column="id" columns="id;name" visible-columns="name" required="yes" fxFlex></o-combo>
        </div>
        
      </o-column>
    </o-row>
  </div>
</o-form>

