<div fxLayout="row" layout-padding fxLayoutAlign="center center">
  <p>
    Bienvenido Partner
  </p>
</div>









<o-form-layout-manager title="{{'PRODUCTOS' | oTranslate }}" separator=" " mode="tab" label-columns="name">
  <div fxFill>
    <o-table fxFlex attr="tableProducts" service="userProduct" entity="userProduct" keys="product_id;user_id" 
      columns="name"
      visible-columns="name"
      query-rows="20">
    </o-table>
  </div>
</o-form-layout-manager>





<!-- <o-form-layout-manager title="{{'USUARIOS' | oTranslate }}" separator=" " mode="tab" label-columns="name;surname">
  <div fxFill>
    <o-table fxFlex attr="tableUsers" service="users" entity="user" keys="user_" 
      columns="user_;password;name;surname;email;nif;userblocked;lastpasswordupdate;firstlogin"
      visible-columns="name;surname;email;nif;userblocked;lastpasswordupdate;firstlogin"
      query-rows="20">
    </o-table>
  </div>
</o-form-layout-manager> -->

