<div fxLayout="row" layout-padding fxLayoutAlign="center center">
  <p>
    Bienvenido Partner
  </p>
</div>







<!-- 

<o-form-layout-manager title="{{'PRODUCTOS' | oTranslate }}" separator=" " mode="tab" label-columns="name;surname">
  <div fxFill>
    <o-table fxFlex attr="tableProducts" service="products" entity="products" keys="products" 
      columns="user_;password;name;surname;email;nif;userblocked;lastpasswordupdate;firstlogin"
      visible-columns="name"
      query-rows="20">
    </o-table>
  </div>
</o-form-layout-manager>
 -->
