@import "node_modules/@angular/material/theming";
// Include non-theme styles for core.
@include mat-core();

/* Color definitions */
$mat-custom-primary: (
  50: white,
  100: whitesmoke, //fondo del link active
  200: #ff9fa4,
  300: #ff7278,
  400: #ff4e56,
  500: white, //fondo del menú
  600: #ff222c,
  700: #ff1a24,
  800: whitesmoke, //fondo menú desplegable
  900: #ff0008,
  A100: #ffffff,
  A200: #ffd9db,
  A400: #ff7278,
  A700: #ff5b60,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: black,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$mat-custom-accent: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: RED,
  500: rgb(118, 118, 216), //color letras botones
  600: #ffffff,
  700: #000000,
  800: #000000,
  900: black, //color links menú
  A100: #ffffff,
  A200: #ffffff,
  A400: #000000,
  A700: #000000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: black, //flecha del botón
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);


// Define a theme.
$primary: mat-palette($mat-custom-primary);
$accent: mat-palette($mat-custom-accent);
$background-color: white;

/* Light theme */
$theme: mat-light-theme($primary, $accent);

/* Dark theme */

//$primary-dark: mat-palette($mat-custom-primary);
//$accent-dark: mat-palette($mat-custom-accent);
//$theme: mat-dark-theme($primary-dark, $accent-dark);

// Insert custom background color
$background: map-get($theme, background);
$background: map_merge(
  $background,
  (
    background: $background-color,
  )
);

$theme: map_merge(
  $theme,
  (
    background: $background,
  )
);

.titleDiv{
  color: white;
  background: #211915;
}

.titleText{
  padding: 5px;
}

.highlight{
  color: #e4333c;
}

.title{
  color: #211915;
}
