button{
  color: #211915;
  border: 1px solid #211915;
  background: white;
  padding: 10px;
  float: left;
}
.tabla-container{
  width: 50%;
  padding: 10px;
}
.tablas{
  width: 91.3%;
}
button:hover{
  color: whitesmoke;
  background-color: #211915;
  border: 1px solid #211915;
  transition: 0.5s;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #211915;
  border-radius: 10px;
  background: white;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}

.form-row {
    width: 90%;
}

.titleDiv{
  text-align: center;
}
