.center {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

.form-row {
    width: 100%;
    display: flex;
    flex-direction: column;
}

button{
  color: #211915;
  border: 1px solid #211915;
  background: white;
  padding: 10px;
}

button:hover{
  color: whitesmoke;
    background-color: #211915;
    border: 1px solid #211915;
    transition: 0.5s;
}