img#logoSimbolo{
    width: 8%;
    margin-left: 20px;
}

.header-container {
    display: flex;
    align-items: center;
}
  
.logo-title-container {
    display: flex;
    align-items: center;
}

.title{
    margin-left: 5px;
}