.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  background: white;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}

.form-row {
    width: 90%;
}

.titleDiv{
  text-align: center;
}

o-list{
  width: 90%;
}

.space{
  margin-right: 20px;
}

.o-table{
  text-align: center;
}

.userTable{
  text-align: center;
  background: white;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  height: auto;
  margin-top: 20px;
  width: 91.3%;
}

.newProduct{
  background: white;
  border: 1px solid #e4333c;
  padding: 10px;
  color: #e4333c;
  margin-top: 30px;

}

.newProduct:hover{
  background: #e4333c;
  color: whitesmoke;
  transition: 0.5s;
}

