<h1 class="titleText2">{{'EDITAR' | oTranslate }}</h1>
<o-form #formUser entity="user" service="users" keys="user_" header-actions="U" show-header-navigation="no"
  keys-sql-types="STRING" class="form-background">
  <div>
    <div class="center">
      <o-row class="form-row">
        <o-text-input class="input-padding" attr="name" fxFlex="50" required="yes" class="margin"></o-text-input>
        <o-text-input class="input-padding" attr="surname" fxFlex="50" required="yes"></o-text-input>
      </o-row>
      <button class="newProduct" attr="alert"  label="Añadir Productos" (click)="addProducts()">{{'Añadir Productos' | oTranslate }}</button>
      <o-table #tableProducts class="userTable" parent-keys="user_id:user_" columns="product_id;user_id;name" attr="tableProducts" service="userProduct"
      entity="productsUser" keys="product_id;user_id" title="{{'PRODUCTOS' | oTranslate }}" detail-button-in-row="false"
      detail-mode="none" delete-button="yes" refresh-button="no" insert-button="no" visible-columns="name" show-buttons-text="false" select-all-checkbox="true">
      <o-table-column attr="product_id" width="100px" title="ID"></o-table-column>
      </o-table>
      
      
      <button class="newProduct" attr="alert"  label="Añadir Documentos" (click)="addDocuments()">{{'Añadir Documentos' | oTranslate }}</button>

      <o-table #tableDocuments class="documentsTable" parent-keys="user_id:user_"columns="id;name;document_type;user_id;personal_document_id;type_name" visible-columns="name;personal_document_id" 
      attr="tableDocuments" service="personalDocuments" sort-columns="personal_document_id"
      entity="personalFiles" keys="id" title="{{'DOCUMENTOS' | oTranslate }}" detail-button-in-row="false" sort
      detail-mode="none" delete-button="yes" refresh-button="no" insert-button="no" show-buttons-text="false" select-all-checkbox="true" delete-button="no">
      <o-table-column attr="product_id" width="100px" title="ID"></o-table-column>
      </o-table>

    </div>
  </div>
  
</o-form>
