<o-form #formUser entity="user" service="users" keys="user_" header-actions="U" show-header-navigation="no"
  keys-sql-types="STRING" class="form-container">
  <div class="titleDiv">
    <h1 class="titleText">{{'EDITAR' | oTranslate }}</h1>
  </div>
  <div>
    <div class="center">
      <o-row class="form-row">
        <o-text-input class="input-padding" attr="name" fxFlex="100" required="yes"></o-text-input>
      </o-row>
      <o-row class="form-row">
        <o-text-input class="input-padding" attr="surname" fxFlex="100" required="yes"></o-text-input>
      </o-row>
      <o-table #tableProducts class="userTable" parent-keys="user_id:user_" columns="product_id;user_id;name" attr="tableProducts" service="userProduct"
      entity="productsUser" keys="product_id;user_id" title="{{'PRODUCTOS' | oTranslate }}" detail-button-in-row="false"
      detail-mode="none" delete-button="yes" refresh-button="no" insert-button="no" visible-columns="name" show-buttons-text="false" select-all-checkbox="true">
      <o-table-column attr="product_id" width="100px" title="ID"></o-table-column>
      </o-table>

      
      <button class="newProduct" attr="alert"  label="Añadir Productos" (click)="addProducts()">{{'Añadir Productos' | oTranslate }}</button>

    </div>
  </div>


  
</o-form>


  


