<o-form #adminForm service="users" entity="user" keys="user_" header-actions="U;D" show-header-actions-text="no" show-header-navigation="no" class="form-container">
  <div class="titleDiv"><h1 class="titleText">{{'EDITAR' | oTranslate }}</h1></div>
  <div>
  <div class="center">

      <o-row class="form-row">
        <o-text-input class="input-padding" attr="name" fxFlex="100" required="yes"></o-text-input>
      </o-row>

      <o-row class="form-row">
        <o-text-input class="input-padding" attr="surname" fxFlex="100" required="yes" class="space"></o-text-input>
      </o-row>
    
    </div>
  </div>
</o-form>
